$white: #FFFFFF;
$black: #000000;
$light: #F3F3F3;
$dark: #231F20;
$spotify: #1ed760;
$light20: darken($light, 20%);
$light40: darken($light, 40%);
$light60: darken($light, 60%);
$light80: darken($light, 80%);
$faded: darken($light, 40%);