@import "../../variables/colors.scss";
@import "../../variables/elements.scss";

.playlist {
  .header {
    .cover {
      span, img {
        width: 12rem;
        height: 12rem;
      }
      span {
        display: block;
        background: rgb(9,28,115);
        background: linear-gradient(135deg, rgba(9,28,115,1) 0%, rgba(19,43,149,1) 25%, rgba(62,86,191,1) 75%, rgba(115,136,227,1) 100%);
      }
    }
    .details {
      .type {
        text-transform: uppercase;
        font-size: 0.8rem;
      }
      .title {
        font-weight: 800;
        font-size: 6rem;
        margin: 0;
      }
      .description {
        color: $faded;
        margin-bottom: 0.5rem;
      }
    }
  }
  .list {
    th {
      text-transform: uppercase;
      color: $faded;
      font-weight: 300;
      font-size: 0.7rem;
    }
  }
}